<table class="bbtable" cellpadding="6" cellspacing="0" border="0" bgcolor="#F2F2F2" width="600" align="center" style="border:solid 1px #F2F2F2;">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"><font color="#000000"><strong>Dear <%= @variables.salutation %>,</strong></font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">We have received a request to reset your blinkbox books password.</font></p></td></tr>

  <tr><td width="100%">
    <p style="margin-top:0"><font color="#000000">Click on the link below to choose a new password - this link will only be active for 24 hours.</font>
      <br />
      <font color="#000000"> <a href="<%= @variables.resetLink %>" style="color:#23B3F1"
                                target="_blank" title="Edit personal details"><%= @variables.resetLink %></a></font>
    </p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">If you didn't request this email, don't worry - someone probably just mistyped their email address. Your account's still secure, and your password can't be reset without the link above.</font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">Happy reading!</font></p></td></tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0">
        <font color="#000000" style="font-style:italic; font-weight:bold;">The blinkbox books team</font></p>

      <p style="margin-top:0; font-size:9px "><font color="#000000">This email address is unmanned. If you want to ask us anything, please <a href="http://saupport.blinkboxbooks.com" style="color:#23B3F1" target="_blank"
                                                                                                                                              title="Support at blinkbox books">contact customer services</a>.</font></p>
    </td>
  </tr>
</table>
