 <table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#FFFFFF" width="580" align="center">
  <tr>
    <td width="100%" bgcolor="#efefef" style="font-size: 14px; font-family:Arial, Helvetica, sans-serif; font-weight: bold; ">
      <font color="#000000">Dear <%= @variables.salutation %>,</font></td>
  </tr>

  <tr>
    <td width="100%" style="padding-top: 30px;margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px;mso-line-height-rule: exactly;line-height: 20px;">

        <font color="#333333">Your password for blinkbox books has successfully been changed.</font></td>
  </tr>



<tr>
    <td width="100%" style="margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px;line-height: 20px;">

        <font color="#333333">If it wasn’t you who changed the password, please</font> <a
        href="" style="color:#ee0079; text-decoration: none;" target="_blank"
        title="Support at blinkbox books">contact our customer services team 
as soon as possible</a>.</td>
  </tr>
 

  <tr>
    <td width="100%" style="padding: 10px; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin-top:0; mso-line-height-rule: exactly;line-height: 20px;">
        <font color="#333333">If you have any questions, why not <a
        href="https://contact.blinkboxbooks.com" style="color:#ee0079; text-decoration: none;" target="_blank"
        title="Support at blinkbox books">check out our online help topics</a>.</font></td>
  </tr>
 
  <tr>
    <td width="100%" style="padding: 10px; margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px;">
        <font color="#333333"><strong><em>The blinkbox books team</em></strong></font>
    </td>
  </tr>
  
   <tr>
    <td width="100%" style="margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding-top: 0; padding-right: 10px; padding-bottom: 10px; padding-left: 10xp;">
      <font color="#666666">This email address is unmanned, so please don't reply.</font>
    </td>
  </tr>


</table>