<table class="bbtable" cellpadding="6" cellspacing="0" border="0" bgcolor="#EEEBE4" width="600" align="center" style="border:solid 1px #dfdfdf;">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"><font color="#000000"><strong>Hello <%=@variables.salutation%>,</strong></font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">Your password for blinkbox books has successfully been changed. If it wasn't you who changed the password, then please <a href="http://support.blinkboxbooks.com" style="color:#23B3F1" target ="_blank" title="Support at blinkbox books">contact us</a> as soon as possible.</font></p></td></tr>

  <tr><td width="100%">
    <p style="margin-top:0"><font color="#000000">This email asddress is unmanned.<br />Please visit our <a href="http://support.blinkboxbooks.com" style="color:#23B3F1" target ="_blank" title="Support at blinkbox books">support page</a> if you need any futher assistance.<br />The End (read on for all the bits you should read but no one ever does).</font></p>
  </td></tr>
</table>