<h1>Password reset</h1>

<p>Hi <%=@variables.salutation%>,</p>
<p>You can reset your password with this link:</p>
<p><a href="<%=@variables.resetLink%>">Reset my password</a></p>

<p>Thanks,<br/>
blinkbox books</p>