<table class="bbtable" cellpadding="5" cellspacing="0" border="0" bgcolor="#F2F2F2" width="600" align="center"
       style="border:solid 5px #F2F2F2; border-bottom: solid 1px #FFFFFF;">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"><font color="#000000"><strong>Dear <%= @variables.salutation %>,</strong></font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0"><font color="#000000">Your password for blinkbox books has successfully been changed.</font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0"><font color="#000000">If it wasn't you who changed the password, then please <a
      href="http://support.blinkboxbooks.com" style="color:#23B3F1" target="_blank"
      title="Support at blinkbox books">contact our customer services team</a> as soon as possible.</font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0"><font color="#000000">If you have any other questions, why not <a
      href="http://support.blinkboxbooks.com" style="color:#23B3F1" target="_blank"
      title="Support at blinkbox books">check out our online help topics</a>.</font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0"><font color="#000000">Happy reading!</font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0">
        <font color="#000000" style="font-style:italic; font-weight:bold;">The blinkbox books team</font></p>

      <p style="margin-top:0; font-size:9px "><font color="#000000">This email address is unmanned, so please don't reply.</font></p>
    </td>
  </tr>
</table>


<table class="bbtable" cellpadding="2" cellspacing="0" border="0" bgcolor="#F2F2F2" width="600" align="center" style="border:solid 5px #F2F2F2; ">
  <tr>
    <td width="100%" align="center">
      <p style="font-weight: bold; color:#23B3F1">
        <a href="http://www.blinkboxbooks.com" style="color:#23B3F1" target="_blank" title="Browse books">Browse books</a>
        <font color="#23B3F1">&nbsp; | &nbsp;</font>
        <a href="http://www.blinkboxbooks.com/#!/account" style="color:#23B3F1" target="_blank" title="Your account">Your account</a>
        <font color="#23B3F1">&nbsp; | &nbsp;</font>
        <a href="https://contact.blinkboxbooks.com" style="color:#23B3F1" target="_blank" title="Support">Support</a>
      </p>
    </td>
  </tr>
</table>