<table class="bbtable" cellpadding="6" cellspacing="0" border="0" bgcolor="#f5f2e9" width="600" align="center" style="border:solid 1px #dfdfdf;">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"><font color="#000000"><strong>Dear <%=@variables.salutation%>,</strong></font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">We have received a request to reset your blinkbox books password. Click on the link below to choose a new password - this link will only be active for 24 hours.</font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000"> <a href="<%=@variables.resetLink%>" style="color:#23B3F1"
                                                      target="_blank" title="Edit personal details"><%=@variables.resetLink%></a></font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">Happy reading!</font><br /><font color="#000000" style="font-style:italic; font-weight:bold;">The blinkbox books team</font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">p.s. If you didn't request a password reset, it may be that someone unauthorised is trying to access your account, so please <a href="http://support.blinkboxbooks.com" style="color:#23B3F1" target ="_blank" title="Support at blinkbox books">contact our Customer Care team</a> as soon as possible.</font></p></td></tr>

  <tr><td width="100%">
    <p style="margin-top:0"><font color="#000000">The End (read on for all the bits you should read but no one ever does).</font></p>
  </td></tr>
</table>