 <table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#FFFFFF" width="580" align="center">
  <tr>
    <td width="100%" bgcolor="#efefef" style="font-size: 14px; font-family:Arial, Helvetica, sans-serif; font-weight: bold; ">
      <font color="#000000">Dear <%= @variables.salutation %>,</font></td>
  </tr>

  <tr>
    <td width="100%" style="padding-top: 30px;margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px;mso-line-height-rule: exactly;line-height: 20px;">

        <font color="#333333">Your password for blinkbox Books has successfully been changed.</font></td>
  </tr>



<tr>
    <td width="100%" style="margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px;line-height: 20px;">

        <font color="#333333">If it wasn’t you who changed the password, please</font> <a
        href="https://support.blinkboxbooks.com/anonymous_requests/new" style="color:#ee0079; text-decoration: none;" target="_blank"
        title="Support at blinkbox Books">contact our customer services team as soon as possible</a>.</td>
  </tr>


  <tr>
    <td width="100%" style="padding: 10px; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin-top:0; mso-line-height-rule: exactly;line-height: 20px;">
        <font color="#333333">If you have any questions, why not <a
        href="https://contact.blinkboxbooks.com" style="color:#ee0079; text-decoration: none;" target="_blank"
        title="Support at blinkbox Books">check out our online help topics</a>.</font></td>
  </tr>

  <tr>
    <td width="100%" style="padding: 10px; margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px;">
        <font color="#333333"><strong><em>The blinkbox Books team</em></strong></font>
    </td>
  </tr>

   <tr>
    <td width="100%" style="margin-top:0; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding-top: 0; padding-right: 10px; padding-bottom: 10px; padding-left: 10xp;">
      <font color="#666666">This email address is unmanned, so please don't reply.</font>
    </td>
  </tr>


</table>

<table class="bbtable" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" width="580" align="center" >

       <tr>

         <td width="100%" align="left" class="center" style="color:#23B3F1; font-size: 14px; padding-left: 10px; padding-right: 10px; padding-top: 10px;padding-bottom: 10px;border-top-style: solid; border-top-width: 1px;border-top-color: #cccbca; border-bottom-style: solid; border-bottom-width: 1px;border-bottom-color: #cccbca">

           <a href="http://www.blinkboxbooks.com" style="color:#ee0079; font-size: 14px; font-family:Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold;" target="_blank" title="Browse books" >Browse books</a>

           <span class="showOnMobile" style="padding: 5px;"></span>

           <font color="#e5e5e5" class="hideOnMobile">&nbsp; | &nbsp;</font>

           <a href="https://www.blinkboxbooks.com/#!/signin" style="color:#ee0079; font-size: 14px; font-family:Arial, Helvetica, sans-serif; text-decoration: none; font-weight:bold;" target="_blank" title="Your account" >Your account</a>

           <span class="showOnMobile" style="padding: 5px;"></span>

           <font color="#e5e5e5" class="hideOnMobile">&nbsp; | &nbsp;</font>

           <a href="https://support.blinkboxbooks.com/home" style="color:#ee0079; font-weight: bold; font-size: 14px; font-family:Arial, Helvetica, sans-serif; text-decoration: none;" target="_blank" title="Support" >Support</a>

           <span class="showOnMobile" style="padding: 5px;"></span>

         </td>

       </tr>

     </table>



    <table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#ffffff" align="center" width="580"
           style="border-top: solid 1px #FFFFFF">
        <tr>
            <td width="100%" style="padding: 10px; margin-top:0; font-size: 12px; mso-line-height-rule: exactly;line-height: 20px; font-family:Arial, Helvetica, sans-serif;"><font color="#666666">So. The important stuff. Well, occasionally we update our terms &amp; conditions. This is to make sure they're always in line with blinkbox policies and services offered. The latest version can be found at the bottom of each page of the blinkbox Books website or by accessing the <a href="https://www.blinkboxbooks.com/#!/terms-conditions" style="color:#ee0079; text-decoration: none;" target="_blank" title="blinkbox Books terms and conditions">blinkbox Books terms &amp; conditions</a>. Do have a gander through it all, as we'll assume that your continued use of blinkbox indicates your acceptance. Thanks blinkboxers!</font></td>
        </tr>
    </table>