<p>Hi <%= @variables.salutation %>,</p>
<p>Thank you for using our service. Below are the details of your purchase.</p>

<p>Title: <%= @variables.bookTitle %></p>
<p>Author: <%= @variables.author %></p>
<p>Price: £<%= @variables.price %></p>

<p>Thanks,<br/>
  blinkbox books</p>