<table class="bbtable" cellpadding="6" cellspacing="0" border="0" bgcolor="#f5f2e9" width="600" align="center" style="border:solid 1px #dfdfdf;">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"><font color="#000000"><strong>Dear < %= @variables.salutation %>,</strong></font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">Thanks for choosing to use blinkbox books. Your book is shown below. We realise there are plenty of places to buy books, so we aim to make your reading experience simple and rewarding.</font></p></td></tr>

  <tr><td width="100%">
    <table class="bbtable" width="90%" align="center" height="2" bgcolor="#ffffff">
      <tr width="100%">
        <td width="50%" align="left">
          <p style="margin-top:0"><font color="#000000"><%= @variables.bookTitle %><br /><%= @variables.author %></font></p>
        </td>
        <td width="50%" align="right">
          <p style="margin-top:0"><font color="#000000">£<%= @variables.price %></font></p>
        </td>
      </tr>
    </table>
  </td></tr>
  <tr><td width="100%">
    <p style="margin-top:0"><font color="#000000">Your book is now saved in your cloud, your own personal digital library. Use the blinkbox books app to download your books and start reading on your tablet or smartphone.</font></p></td></tr>

  <tr><td width="100%">

    <p style="margin-top:0"><font color="#000000">Enjoy what you read!</font><br /><font color="#000000" style="font-style:italic; font-weight:bold;">The blinkbox bookworms</font></p></td></tr>
</table>

<table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#e0e0e0" width="600" align="center">
  <tr>
    <td width="100%">
      <p style="font-weight: bold; color:#23B3F1">
        <a href="http://www.blinkboxbooks.com/#!/account/paymentHistory" style="color:#23B3F1" target="_blank" title="Payment history">Order &amp; Payment history</a><br/>
        <a href="http://www.blinkboxbooks.com/#!/account/personalDetails" style="color:#23B3F1" target="_blank" title="Edit personal details">Your personal details</a><br/>
        <a href="http://www.blinkboxbooks.com/#!/account/myPayments" style="color:#23B3F1" target="_blank" title="Your payments">Your payments</a><br/>
        <a href="http://www.blinkboxbooks.com/#!/account/myDevices" style="color:#23B3F1" target="_blank" title="Your devices">Your devices</a>
      </p>
    </td>
  </tr>
</table>