<h1>Password reset</h1>

<p>Hi <%=@variables.first_name%>,</p>
<p>You can reset your password with this link:</p>
<p><a href="<%=@variables.reset_password_url%>">Reset my password</a></p>

<p>Thanks,<br/>
blinkbox books</p>