<h1>Welcome to blinkbox books</h1>

<p>Hi <%=@variables.first_name%>,</p>
<p>Lorem ipsum Enim ad laboris irure ea ullamco eiusmod incididunt fugiat dolor laborum dolore reprehenderit officia elit velit laborum cillum voluptate Duis nisi culpa ex ut ea.</p>
<p>Lorem ipsum Ex in Ut labore id incididunt occaecat ea Excepteur occaecat Ut ut reprehenderit velit non Excepteur ex quis velit Duis proident consequat nisi ea nulla nulla nisi. Lorem ipsum Irure irure nulla sed non elit occaecat enim eu ullamco adipisicing dolor culpa in ullamco nisi mollit aliqua commodo cupidatat dolor Ut et commodo.</p>

<p>Thanks,<br/>
blinkbox books</p>