<table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#E0E0E0" width="600" align="center" style="border:solid 1px #dfdfdf;">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"><font color="#000000"><strong>Dear <%= @variables.salutation %>,</strong></font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0">
        <font color="#000000">Thanks for joining us - we promise to bring you a whole new experience in browsing, buying and reading great books.</font></p></td>
  </tr>

  <tr>
    <td width="100%">

      <p style="margin-top:0">
        <font color="#000000">Your account is ready to go - all you need to do is start choosing from hundreds of thousands of books from fiction, thrillers, autobiography and dozens more categories. There’s something for everyone.</font></p></td>
  </tr>

</table>


<table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#EEEBE4" width="600" align="center">
  <tr>
    <td width="100%">
      <p style="font-weight: bold;"
      ><font color="#000000" size="2"><strong>Getting started...</strong></font></p><br/>

      <p><font color="#000000">1. Download the blinkbox books app on your Android or Apple tablet or smartphone using the links below.</font>
      </p>
    </td>
  </tr>

  <tr>
    <td width="100%">
      <table class="bbtable" width="100%" align="center" height="2">
        <tr width="100%">

          <td width="50%" align="center">
            <a href="https://itunes.apple.com/gb/genre/ios/id36?mt=8"><img src="https://media.blinkboxbooks.com/params;v=0/assets/external/apple/download_on_the_app_store_2013-10-11.png" alt="Get blinkbox books on the App Store!" title="Get blinkbox books on the App Store!" width="135" height="40" style="display:block" border="0"/></a>
          </td>
          <td width="10%"></td>
          <td width="40%" align="center">
            <p><font color="#000000"> For iOS devices.</font></p>
          </td>
        </tr>

        <tr width="100%">

          <td width="50%" align="center">
            <a href="http://play.google.com/"><img src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" alt="Get blinkbox books on the Play Store!" title="Get blinkbox books on the App Store!" width="129" height="45" style="display:block" border="0"/></a>
          </td>
          <td width="10%"></td>
          <td width="40%" align="center">
            <p><font color="#000000"> For Android devices.</font></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td width="100%">
      <p><font color="#000000">2. Once downloaded, sign into the app using your account email and password that you used to set up your account.<br/>3. Browse, buy and enjoy hundreds of thousands of books.</font></p>
    </td>
  </tr>
</table>

<table class="bbtable" cellpadding="10" cellspacing="0" border="0" bgcolor="#e0e0e0" width="600" align="center">
  <tr>
    <td width="100%">
      <p style="font-weight: bold; color:#23B3F1">
        <a href="http://www.blinkboxbooks.com/#!/account/paymentHistory" style="color:#23B3F1" target="_blank" title="Payment history">Order &amp; payment history</a><br/>
        <a href="http://www.blinkboxbooks.com/#!/account/personalDetails" style="color:#23B3F1" target="_blank" title="Edit personal details">Your personal details</a><br/>
        <a href="http://www.blinkboxbooks.com/#!/account/myPayments" style="color:#23B3F1" target="_blank" title="Your payments">Your payments</a><br/>
        <a href="http://www.blinkboxbooks.com/#!/account/myDevices" style="color:#23B3F1" target="_blank" title="Your devices">Your devices</a>
      </p>
    </td>
  </tr>
</table>